*.log
.DS_Store
.idea
Thumbs.db
npm-debug.log
install.lock
config/database.config.js
!.gitkeep

node_modules
tmp/*
!tmp/.gitkeep
logs/*
!logs/*/*.gitkeep
public/media/*
!public/media/.gitkeep
public/themes/*
!public/themes/default
