<!-- 删除模态 -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="关闭"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteModalTitle">警告</h4>
      </div>
      <div class="modal-body">
        <h4 class="text-center">您确定要删除该分类？</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button ng-click="deleteModel()" type="button" class="btn btn-danger">确认删除</button>
      </div>
    </div>
  </div>
</div>

<!-- 主体 -->

<div class="page-header clearfix">
  <h1 ng-if="action === 'create'" class="heading pull-left">{{$parent.category.name}} - 创建内容</h1>
  <h1 ng-if="action === 'update'" class="heading pull-left">{{$parent.category.name}} - 更新内容</h1>
  &nbsp;
  <a ui-sref="main.column" class="btn btn-default btn-sm">返回</a>
</div>
<form ng-submit="" id="" name="" novalidate>
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body table-responsive">
          <div ng-class="{ 'has-error': siteInfoForm.title.$touched && siteInfoForm.title.$invalid }" class="form-group">
            <label class="sr-only" for="inputTitle">* 标题</label>
            <div class="input-group">
              <div class="input-group-addon">* 标题</div>
              <input ng-model="title" ng-disabled="transmitting" class="form-control" id="inputTitle" type="text" name="title" placeholder="请输入内容标题" autofocus="autofocus" required>
            </div>
          </div>
          <div ng-class="{ 'has-error': siteInfoForm.title.$touched && siteInfoForm.title.$invalid }" class="form-group">
            <label class="sr-only" for="inputTitle">URL</label>
            <div class="input-group">
              <div class="input-group-addon">&nbsp;&nbsp;URL</div>
              <input ng-model="url" ng-disabled="transmitting" class="form-control" id="inputUrl" type="url" name="url" placeholder="默认使用内容 ID 作为 URL" required>
              <span ng-if="translate.on" class="input-group-btn">
                <button class="btn btn-default" type="button">从标题翻译</button>
              </span>
            </div>
          </div>
          <textarea id="content" name="content" data-provide="markdown" rows="14"></textarea>
        </div>
      </div>
    </div>
    <div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">缩略图</div>
				<div class="panel-body">
					dd
				</div>
			</div>
      <div class="panel panel-default">
        <div class="panel-heading">发布</div>
        <div class="panel-body">
            <div ng-class="{ 'has-error': roleForm.name.$touched && roleForm.name.$invalid }" class="form-group">
              <label class="control-label" for="name">状态：</label>
							<select class="form-control">
								<option>草稿</option>
								<option>发布</option>
							</select>
              <!--<input ng-model="name" ng-disabled="transmitting" class="form-control" id="name" type="text" name="name" placeholder="请输入角色名称" required>-->
            </div>
            <div class="form-group">
              <label class="control-label" for="inputDate">发布时间：</label>
							<div class="input-group date">
								<input class="form-control" id="inputDate" type="text" name="date" placeholder="请选择日期" readonly><span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button></span>
							</div>
            </div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="sr-only" for="exampleInputEmail1">Email address</label>
									<select class="form-control">
										<option>11 时</option>
										<option>12 时</option>
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="sr-only" for="exampleInputEmail1">Email address</label>
									<select class="form-control">
										<option>31 分</option>
										<option>32 分</option>
									</select>
								</div>
							</div>
            <button ng-disabled="transmitting || name === '管理员' || roleForm.$invalid" class="btn btn-primary btn-block" type="submit" form="roleForm"><i class="fa fa-save"></i> 发布内容</button>
        </div>
      </div>
    </div>
  </div>
</form>