<article class="install">
  <div class="content">
    <img class="brand" src="/assets/admin/images/logo-lg.png">
    <div class="panel panel-default">
      <div class="panel-body">
        <form ng-submit="submitInstall()" class="form-horizontal" name="installForm" novalidate>
          <h2 class="text-center"><i class="fa fa-home"></i> 网站设置</h2>
          <hr>
          <div ng-class="{ 'has-error': installForm.title.$touched && installForm.title.$invalid }" class="form-group">
            <label for="inputTitle" class="col-sm-3 control-label">* 网站标题：</label>
            <div class="col-sm-9">
              <input ng-model="title" class="form-control" id="inputTitle" type="text" name="title" placeholder="请输入网站标题" required>
            </div>
          </div>
          <hr>
          <h2 class="text-center"><i class="fa fa-user"></i> 管理员设置</h2>
          <hr>
          <div ng-class="{ 'has-error': installForm.email.$touched  && installForm.email.$invalid }" class="form-group">
            <label for="inputEmail" class="col-sm-3 control-label">* Email：</label>
            <div class="col-sm-9">
              <input ng-model="email" ng-pattern="/^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/" type="email" class="form-control text-lowercase" id="inputEmail" name="email" placeholder="请输入 Email 地址" required>
              <p ng-show="installForm.email.$touched && installForm.email.$invalid && installForm.email.$error.pattern" class="help-block">请正确输入 Email</p>
            </div>
          </div>
          <div ng-class="{ 'has-error': installForm.nickname.$touched && installForm.nickname.$invalid }" class="form-group">
            <label for="inputNickname" class="col-sm-3 control-label">* 昵称：</label>
            <div class="col-sm-9">
              <input ng-model="nickname" type="text" class="form-control" id="inputNickname" name="nickname" placeholder="请输入昵称" required>
            </div>
          </div>
          <div ng-class="{ 'has-error': installForm.password.$touched && installForm.password.$invalid }" class="form-group">
            <label for="inputPwd" class="col-sm-3 control-label">* 密码：</label>
            <div class="col-sm-9">
              <input ng-model="password" ng-minlength="6" class="form-control" id="inputPwd" name="password" type="password" placeholder="请输入密码" required>
              <p ng-show="installForm.password.$touched && installForm.password.$invalid && installForm.password.$error.minlength" class="help-block">密码需为 6 位数以上</p>
            </div>
          </div>
          <div ng-class="{ 'has-error': installForm.confirmpwd.$touched && installForm.confirmpwd.$invalid}" class="form-group">
            <label for="inputConfirmpwd" class="col-sm-3 control-label">* 确认密码：</label>
            <div class="col-sm-9">
              <input ng-model="confirmpwd" nd-same="#inputPwd" class="form-control" id="inputConfirmpwd" name="confirmpwd" type="password" placeholder="请再次输入密码" required>
              <p ng-show="installForm.confirmpwd.$touched && installForm.confirmpwd.$invalid && installForm.confirmpwd.$error.same" class="help-block">两次密码输入不一致</p>
            </div>
          </div>
          <hr>
          <button ng-disabled="installForm.$invalid" class="btn btn-primary btn-block" type="submit">完成</button>
        </form>
      </div>
    </div>
    <div class="nodercms"><a href="http://www.nodercms.com" target="_blank">NoderCMS</a> 内容管理系统 v0.0.1</div>
  </div>
</article>