<div class="install">
  <img class="brand" src="/assets/admin/images/logo-lg.png" srcset="/assets/admin/images/logo-lg@2x.png 2x">
  <div ng-class="{ 'lg': page === 'license', 'md': page === 'database' || page === 'siteInfo' || page === 'installed', 'sm': page === 'installing' }" class="content lg">
    <div ng-show="page === 'license'" class="panel panel-default ng-hide install-panel">
      <div class="panel-body">
        <div class="page-header">
          <div class="heading">安装许可协议</div>
        </div>
        <hr>
        <div class="well scrollable">
          <p>感谢您选择 NoderCMS 产品。希望我们的努力能为您提供一个高效快速和强大的网站解决方案。</p>
          <p>NoderCMS 全称为 NoderCMS 内容管理系统。
          NoderCMS 内容管理系统的官方网站为 http://www.nodercms.com，是 NoderCMS 产品的开发商，依法独立拥有 NoderCMS 产品著作权。
          NoderCMS 著作权受到法律和国际公约保护。使用者：无论个人或组织、盈利与否、用途如何（包括以学习和研究为目的），均需仔细阅读本协议，在理解、同意、并遵守本协议的全部条款后，方可开始使用 NoderCMS 软件。
          本授权协议适用且仅适用于 NoderCMS 产品，北京数字矩阵科技有限公司拥有对本授权协议的最终解释权。</p>
          <h4>协议许可的权利</h4>
          <p>您可以在完全遵守本最终用户授权协议的基础上，将本软件应用于非商业用途，而不必支付软件版权授权费用。
          您可以在协议规定的约束和限制范围内修改 NoderCMS 源代码（如果被提供的话）或界面风格以适应您的网站要求。
          您拥有使用本软件构建的网站中全部资料、文章及相关信息的所有权，并独立承担与文章内容的相关法律义务。
          获得商业授权之后，您可以将本软件应用于商业用途，同时依据所购买的授权类型中确定的技术支持期限、技术支持方式和技术支持内容，自购买时刻起，在技术支持期限内拥有通过指定的方式获得指定范围内的技术支持服务。商业授权用户享有反映和提出意见的权力，相关意见将被作为首要考虑，但没有一定被采纳的承诺或保证。</p>
          <h4>协议规定的约束和限制</h4>
          <p>未获商业授权之前，不得将本软件用于商业用途（包括但不限于企业网站、经营性网站、以营利为目或实现盈利的网站）。购买商业授权请登陆 http://www.nodercms.com 参考相关说明。
          不得对本软件或与之关联的商业授权进行出租、出售、抵押或发放子许可证。
          无论如何，即无论用途如何、是否经过修改或美化、修改程度如何，只要使用 NoderCMS 的整体或任何部分，未经书面许可，网站页面页脚处的 NoderCMS 名称和 http://www.nodercms.com 的链接都必须保留，而不能清除或修改，除非您获得北京数字矩阵科技有限公司授权许可。
          禁止在 NoderCMS 的整体或任何部分基础上以发展任何派生版本、修改版本或第三方版本用于重新分发。
          如果您未能遵守本协议的条款，您的授权将被终止，所被许可的权利将被收回，并承担相应法律责任。</p>
          <h4>有限担保和免责声明</h4>
          <p>本软件及所附带的文件是作为不提供任何明确的或隐含的赔偿或担保的形式提供的。
          用户出于自愿而使用本软件，您必须了解使用本软件的风险，在尚未购买产品技术服务之前，我们不承诺提供任何形式的技术支持、使用担保，也不承担任何因使用本软件而产生问题的相关责任。
          北京数字矩阵科技有限公司不对使用本软件构建的网站中的文章或信息承担责任。
          有关 NoderCMS 最终用户授权协议、商业授权与技术服务的详细内容，均由 NoderCMS 官方网站独家提供。北京数字矩阵科技有限公司拥有在不事先通知的情况下，修改授权协议和服务价目表的权力，修改后的协议或价目表对自改变之日起的新授权用户生效。</p>
          <p>电子文本形式的授权协议如同双方书面签署的协议一样，具有完全的和等同的法律效力。您一旦开始安装 NoderCMS，即被视为完全理解并接受本协议的各项条款，在享有上述条款授予的权力的同时，受到相关的约束和限制。协议许可范围以外的行为，将直接违反本授权协议并构成侵权，我们有权随时终止授权，责令停止损害，并保留追究相关责任的权力。</p>
        </div>
        <hr>
        <button ng-click="page = 'database'" type="button" class="btn btn-primary pull-right">我已阅读许可并同意</button>
      </div>
    </div>
    <div ng-show="page === 'database'" class="panel panel-default ng-hide install-panel">
      <div class="panel-body">
        <form ng-submit="testDatabase()" class="form-horizontal" id="databaseForm" name="databaseForm" novalidate>
          <div class="page-header">
            <div class="heading">MongoDB 数据库配置</div>
          </div>
          <hr>
          <div ng-class="{ 'has-error': databaseForm.databaseHost.$touched && databaseForm.databaseHost.$invalid }" class="form-group">
            <label for="databaseHost" class="col-sm-3 control-label">* 数据库主机：</label>
            <div class="col-sm-9">
              <input ng-model="databaseHost" ng-disabled="transmitting" ng-pattern="/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$|^localhost$/" class="form-control" id="databaseHost" type="text" name="databaseHost" aria-describedby="databaseHostHelpBlock" placeholder="请输入数据库主机" required>
              <p ng-show="databaseForm.databaseHost.$touched && databaseForm.databaseHost.$invalid" class="help-block">主机应为为 IP 地址或 localhost</p>
              <span id="databaseHosteHelpBlock" class="help-block">如果数据库与网站是同一台服务器，默认 localhost 即可</span>
            </div>
          </div>
          <div ng-class="{ 'has-error': databaseForm.databasePort.$touched && databaseForm.databasePort.$invalid }" class="form-group">
            <label for="databasePort" class="col-sm-3 control-label">* 数据库端口：</label>
            <div class="col-sm-9">
              <input ng-model="databasePort" ng-disabled="transmitting" class="form-control" id="databasePort" type="number" min="0" max="65535" name="databasePort" placeholder="请输入数据库端口" required>
              <p ng-show="databaseForm.databasePort.$touched && databaseForm.databasePort.$invalid" class="help-block">端口应为 0 ~ 65535 之间</p>
              <span id="databasePortHelpBlock" class="help-block">如果没有修改过数据库端口，默认 27017 即可</span>
            </div>
          </div>
          <div ng-class="{ 'has-error': databaseForm.database.$touched && databaseForm.database.$invalid }" class="form-group">
            <label for="database" class="col-sm-3 control-label">* 数据库名：</label>
            <div class="col-sm-9">
              <input ng-model="database" ng-disabled="transmitting" class="form-control" id="database" type="text" name="database" placeholder="请输入数据库名" required>
            </div>
          </div>
          <div ng-class="{ 'has-error': databaseForm.databaseUser.$touched && databaseForm.databaseUser.$invalid }" class="form-group">
            <label for="databaseUser" class="col-sm-3 control-label">* 数据库用户名：</label>
            <div class="col-sm-9">
              <input ng-model="databaseUser" ng-disabled="transmitting" class="form-control" id="databaseUser" type="text" name="databaseUser" placeholder="请输入数据库用户名" required>
            </div>
          </div>
          <div ng-class="{ 'has-error': databaseForm.databasePassword.$touched && databaseForm.databasePassword.$invalid }" class="form-group">
            <label for="databasePassword" class="col-sm-3 control-label">* 数据库密码：</label>
            <div class="col-sm-9">
              <input ng-model="databasePassword" ng-disabled="transmitting" class="form-control" id="databasePassword" type="password" name="databasePassword" placeholder="请输入数据库用户密码" required>
            </div>
          </div>
          <div ng-show="databaseError && !transmitting" class="alert alert-danger" role="alert"><i class="fa fa-exclamation-triangle"></i> 数据库连接失败，请检查是否填写正确或联系数据库管理员</div>
          <hr>
          <div class="pull-right">
            <button ng-click="page = 'license'" type="button" class="btn btn-default">上一步</button>
            <button ng-disabled="transmitting || databaseForm.$invalid" type="submit" form="databaseForm" class="btn btn-primary">连接数据库</button>
          </div>
        </form>
      </div>
    </div>
    <div ng-show="page === 'siteInfo'" class="panel panel-default ng-hide install-panel">
      <div class="panel-body">
        <form ng-submit="submitInstall()" class="form-horizontal" id="installForm" name="installForm" novalidate>
          <div class="page-header">
            <div class="heading">初始化设置</div>
          </div>
          <hr>
          <div ng-class="{ 'has-error': installForm.title.$touched && installForm.title.$invalid }" class="form-group">
            <label for="title" class="col-sm-3 control-label">* 网站标题：</label>
            <div class="col-sm-9">
              <input ng-model="title" ng-disabled="transmitting" class="form-control" id="title" type="text" name="title" placeholder="请输入网站标题" required>
            </div>
          </div>
          <div class="form-group">
            <label for="theme" class="col-sm-3 control-label">主题：</label>
            <div class="col-sm-9">
              <select ng-model="theme" ng-disabled="transmitting" ng-options="theme.directory as theme.name for theme in themes" ng-disabled="transmitting" name="theme" id="theme" class="form-control" required></select>
            </div>
          </div>
          <div ng-show="themeError && !transmitting" class="alert alert-danger" role="alert"><i class="fa fa-exclamation-triangle"></i> 主题读取失败，请检查 /public/themes/ 下主题目录完整性 <a ng-click="loadThemes()" role="button">重新读取</a></div>
          <!-- 下一版本 -->
          <!--<div class="form-group">-->
            <!--<label for="case" class="col-sm-3 control-label">导入示例数据：</label>-->
            <!--<div class="col-sm-9">-->
              <!--<div class="btn-group" role="group" id="case">-->
                <!--<button ng-click="case = true" ng-class="{ active: case === true }" class="btn btn-default" type="button">是</button>-->
                <!--<button ng-click="case = false" ng-class="{ active: case === false }" class="btn btn-default" type="button">否</button>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <hr>
          <div ng-class="{ 'has-error': installForm.email.$touched  && installForm.email.$invalid }" class="form-group">
            <label for="email" class="col-sm-3 control-label">* Email：</label>
            <div class="col-sm-9">
              <input ng-model="email" ng-pattern="/^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/" type="email" class="form-control text-lowercase" id="email" name="email" placeholder="请输入 Email 地址" required>
              <p ng-show="installForm.email.$touched && installForm.email.$invalid && installForm.email.$error.pattern" class="help-block">请正确输入 Email</p>
            </div>
          </div>
          <div ng-class="{ 'has-error': installForm.nickname.$touched && installForm.nickname.$invalid }" class="form-group">
            <label for="nickname" class="col-sm-3 control-label">* 昵称：</label>
            <div class="col-sm-9">
              <input ng-model="nickname" type="text" class="form-control" id="nickname" name="nickname" placeholder="请输入昵称" required>
            </div>
          </div>
          <div ng-class="{ 'has-error': installForm.password.$touched && installForm.password.$invalid }" class="form-group">
            <label for="password" class="col-sm-3 control-label">* 密码：</label>
            <div class="col-sm-9">
              <input ng-model="password" ng-minlength="6" class="form-control" id="password" name="password" type="password" placeholder="请输入密码" required>
              <p ng-show="installForm.password.$touched && installForm.password.$invalid && installForm.password.$error.minlength" class="help-block">密码需为 6 位数以上</p>
            </div>
          </div>
          <div ng-class="{ 'has-error': installForm.confirmpwd.$touched && installForm.confirmpwd.$invalid}" class="form-group">
            <label for="confirmpwd" class="col-sm-3 control-label">* 确认密码：</label>
            <div class="col-sm-9">
              <input ng-model="confirmpwd" nd-same="#password" class="form-control" id="confirmpwd" name="confirmpwd" type="password" placeholder="请再次输入密码" required>
              <p ng-show="installForm.confirmpwd.$touched && installForm.confirmpwd.$invalid && installForm.confirmpwd.$error.same" class="help-block">两次密码输入不一致</p>
            </div>
          </div>
          <hr ng-show="siteInfoError && !transmitting">
          <div ng-show="siteInfoError && !transmitting" class="alert alert-danger" role="alert"><i class="fa fa-exclamation-triangle"></i> 安装请求失败，请尝试重启服务器与数据库并重新安装</div>
          <hr>
          <div class="pull-right">
            <button ng-click="page = 'database'" type="button" class="btn btn-default">上一步</button>
            <button ng-disabled="transmitting || installForm.$invalid" type="submit" form="installForm" class="btn btn-primary">安装</button>
          </div>
        </form>
      </div>
    </div>
    <div ng-show="page === 'installing'" class="panel panel-default ng-hide install-panel">
      <div class="panel-body">
          <div class="page-header">
            <div class="heading">安装中</div>
          </div>
          <hr>
          <br>
          <div class="text-center text-installing"><i class="fa fa-refresh fa-spin fa-3x"></i></div>
          <br>
          <br>
      </div>
    </div>
    <div ng-show="page === 'installed'" class="panel panel-default ng-hide install-panel">
      <div class="panel-body">
        <div class="page-header">
          <div class="heading">安装完成</div>
        </div>
        <hr>
        <h3 class="text-center text-welcome">欢迎使用 NoderCMS</h3>
        <h5 class="text-center text-muted">本软件为开源软件，项目的发展离不开你的支持，可以请作者吃顿饭来激励一下作者 : )</h5>
        <br>
        <div class="btn-group btn-group-justified" role="group">
          <div class="btn-group" role="group">
            <button ng-click="sponsor = 99" ng-class="{ 'active': sponsor === 99 }" type="button" class="btn btn-default">请作者一顿饭</button>
          </div>
          <div class="btn-group" role="group">
            <button ng-click="sponsor = 199" ng-class="{ 'active': sponsor === 199 }" type="button" class="btn btn-default">请作者两顿饭</button>
          </div>
          <div class="btn-group" role="group">
            <button ng-click="sponsor = 499" ng-class="{ 'active': sponsor === 499 }" type="button" class="btn btn-default">请作者豪华大餐<span class="badge sponsor-badge">荐</span></button>
          </div>
          <div class="btn-group" role="group">
            <button ng-click="sponsor = 999" ng-class="{ 'active': sponsor === 999 }" type="button" class="btn btn-default">帮作者赢取白富美</button>
          </div>
        </div>
        <br>
        <div class="row sponsor">
          <div class="col-md-6">
            <div class="thumbnail weixin">
              <img ng-if="sponsor === 99" src="/assets/admin/images/sponsor/weixin99.jpg">
              <img ng-if="sponsor === 199" src="/assets/admin/images/sponsor/weixin199.jpg">
              <img ng-if="sponsor === 499" src="/assets/admin/images/sponsor/weixin499.jpg">
              <img ng-if="sponsor === 999" src="/assets/admin/images/sponsor/weixin999.jpg">
              <div class="caption">
                <h3>微信打赏</h3>
                <p ng-if="sponsor === 99">￥99</p>
                <p ng-if="sponsor === 199">￥199</p>
                <p ng-if="sponsor === 499">￥499</p>
                <p ng-if="sponsor === 999">￥999</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="thumbnail alipay">
              <img ng-if="sponsor === 99" src="/assets/admin/images/sponsor/alipay99.jpg">
              <img ng-if="sponsor === 199" src="/assets/admin/images/sponsor/alipay199.jpg">
              <img ng-if="sponsor === 499" src="/assets/admin/images/sponsor/alipay499.jpg">
              <img ng-if="sponsor === 999" src="/assets/admin/images/sponsor/alipay999.jpg">
              <div class="caption">
                <h3>支付宝打赏</h3>
                <p ng-if="sponsor === 99">￥99</p>
                <p ng-if="sponsor === 199">￥199</p>
                <p ng-if="sponsor === 499">￥499</p>
                <p ng-if="sponsor === 999">￥999</p>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <button ui-sref="signIn" type="button" class="btn btn-primary center-block">进入后台管理</button>
        <br>
      </div>
    </div>
  </div>
  <footer>Powered by <a href="http://www.nodercms.com" title="轻量级CMS内容管理系统" target="_blank">NoderCMS</a></footer>
</div>