<article class="login">
  <div ng-class="{ 'shake': animateShake }" class="content">
    <img class="brand" src="/assets/admin/images/logo-lg.png">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">欢迎回来</h3>
      </div>
      <div class="panel-body">
        <form ng-submit="submitLogin()" name="loginForm" novalidate>
          <div ng-class="{ 'has-error': loginForm.email.touched && loginForm.email.$invalid }" class="form-group">
            <label class="sr-only" for="inputEmail">Email：</label>
            <div class="input-group">
              <span class="input-group-addon" id="inputIconUser"><i class="fa fa-user"></i></span>
              <input ng-model="email" ng-pattern="/\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*/" ng-disabled="transmitting" class="form-control" id="inputEmail" type="email" name="email" placeholder="请输入Email" aria-describedby="inputIconUser" autofocus="autofocus" required>
            </div>
          </div>
          <div ng-class="{ 'has-error': loginForm.password.touched && loginForm.password.$invalid }" class="form-group">
            <label class="sr-only" for="inputPassword">密码：</label>
            <div class="input-group">
              <span class="input-group-addon" id="inputIconPwd"><i class="fa fa-lock"></i></span>
              <input ng-model="password" ng-minlength="6" nd-disabled="transmitting" class="form-control" id="inputPassword" type="password" name="password" placeholder="请输入密码" aria-describedby="inputIconPwd" required>
            </div>
          </div>
          <button ng-disabled="loginForm.$invalid || transmitting" class="btn btn-primary btn-block" type="submit">登录</button>
        </form>
      </div>
    </div>
    <div class="nodercms"><a href="http://www.nodercms.com" target="_blank">NoderCMS</a> 内容管理系统 v0.0.1</div>
  </div>
</article>