<nd-navigation></nd-navigation>
<article ui-view class="page view clearfix">
  <div class="page-header clearfix">
    <ol class="heading">
      <li><a ui-sref="main">控制面板</a></li>
    </ol>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row text-center">
            <div class="col-xs-4"><h4>{{contentsTotal}}</h4><p>总内容数</p></div>
            <div class="col-xs-4"><h4>{{mediaTotal}}</h4><p>总媒体数</p></div>
            <div class="col-xs-4"><h4>{{adminsTotal}}</h4><p>作者数</p></div>
          </div>
          <hr>
          <div class="row text-center">
            <div class="col-xs-4">
              <a href="http://www.nodercms.com" target="_blank">
                <p><i class="fa fa-home fa-2x"></i></p>
                <p>NoderCMS 官网</p>
              </a>
            </div>
            <div class="col-xs-4">
              <a href="http://www.nodercms.com/help" target="_blank">
                <p><i class="fa fa-question-circle fa-2x"></i></p>
                <p>帮助中心</p>
              </a>
            </div>
            <div class="col-xs-4">
              <a href="mailto:feedback@nodercms.com?subject=%E6%84%8F%E8%A7%81%E5%8F%8D%E9%A6%88" target="_blank">
                <p><i class="fa fa-envelope-o fa-2x"></i></p>
                <p>反馈</p>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">总排行</div>
            <div class="list-group">
              <a ng-repeat="item in readingList.total" href="{{item.href}}" class="list-group-item" target="_blank">{{item.title}}</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">今日排行</div>
            <div class="list-group">
              <a ng-repeat="item in readingList.day" href="{{item.href}}" class="list-group-item" target="_blank">{{item.title}}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">本周排行</div>
            <div class="list-group">
              <a ng-repeat="item in readingList.week" href="{{item.href}}" class="list-group-item" target="_blank">{{item.title}}</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">本月排行</div>
            <div class="list-group">
              <a ng-repeat="item in readingList.month" href="{{item.href}}" class="list-group-item" target="_blank">{{item.title}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <table></table>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-5 text-right"><p><b>网站：</b></p></div>
            <div class="col-xs-7"><a href="{{website.origin}}" target="_blank">{{website.hostname}}</a></div>
          </div>
          <div class="row">
            <div class="col-xs-5 text-right"><p><b>程序版本：</b></p></div>
            <div class="col-xs-7">
              <p>v{{systemInfo.version}} <small ng-if="!compareVersion(systemInfo.version, officialSystemInfo.version)" class="text-muted">已是最新版本</small></p>
              <p><a ng-if="compareVersion(systemInfo.version, officialSystemInfo.version)" class="btn btn-info btn-xs" href="http://www.nodercms.com/download" target="_blank" role="button">最新版本 v{{officialSystemInfo.version}}</a></p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-5 text-right"><p><b>操作系统：</b></p></div>
            <div class="col-xs-7"><p>{{systemInfo.osType}} {{systemInfo.osRelease}}</p></div>
          </div>
          <div class="row">
            <div class="col-xs-5 text-right"><p><b>Node：</b></p></div>
            <div class="col-xs-7"><p>Node.js v{{nodeInfo.node}}</p></div>
          </div>
          <div class="row">
            <div class="col-xs-5 text-right"><p><b>数据库：</b></p></div>
            <div class="col-xs-7"><p>MongoDB v{{databaseInfo.version}}</p></div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-5 text-right"><p><b>官方QQ群：</b></p></div>
            <div class="col-xs-7"><p>369888346</p></div>
          </div>
        </div>
      </div>
      <!--<div class="panel panel-default">-->
        <!--<div class="panel-heading">作者排名</div>-->
        <!--<div class="panel-body">-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
</article>