<nav class="navigation">
	<img class="brand" src="/assets/admin/images/logo.png">
	<ul class="list">
		<li>
			<a ui-sref="main" ui-sref-active-eq="active" class="item">
				<i class="fa fa-dashboard fa-fw"></i>
				控制面板
			</a>
		</li>
		<li ng-if="auth.contentManage">
			<div class="item sub-list-heading">
				<i class="fa fa-book fa-fw"></i>
				内容管理
				<span class="caret"></span>
			</div>
			<div class="sub-list">
				<a ng-repeat="category in categories" ng-if="category.type === 'column'" ui-sref="main.column({ _id: category._id })" ui-sref-active="active" class="item">
					<i class="fa fa-circle-o fa-fw"></i>
					{{category.name}}
				</a>
			</div>
		</li>
		<li ng-if="auth.mediaLibrary">
			<a ui-sref="users" ui-sref-active="active" class="item">
				<i class="fa fa-archive fa-fw"></i>
				媒体库
			</a>
		</li>
		<!--     <li>
					<a ui-sref="users" ui-sref-active="active" class="item">
						<i class="fa fa-user fa-fw"></i>
						用户管理
					</a>
				</li> -->
		<li ng-if="auth.setting">
			<div class="item sub-list-heading">
				<i class="fa fa-cogs fa-fw"></i>
				设置
				<span class="caret"></span>
			</div>
			<div class="sub-list">
				<a ng-if="auth.siteInfo" ui-sref="main.siteInfo" ui-sref-active="active" class="item">
					<i class="fa fa-circle-o fa-fw"></i>
					网站配置
				</a>
				<a ng-if="auth.categories" ui-sref="main.categories" ui-sref-active="active" class="item">
					<i class="fa fa-circle-o fa-fw"></i>
					内容分类
				</a>
				<a ng-if="auth.contentModels" ui-sref="main.contentModels" ui-sref-active="active" class="item">
					<i class="fa fa-circle-o fa-fw"></i>
					内容模型
				</a>
				<a ng-if="auth.roles" ui-sref="main.roles" ui-sref-active="active" class="item">
					<i class="fa fa-circle-o fa-fw"></i>
					权限角色
				</a>
				<a ng-if="auth.adminUsers" ui-sref="main.adminUsers" ui-sref-active="active" class="item">
					<i class="fa fa-circle-o fa-fw"></i>
					后台用户
				</a>
			</div>
		</li>
	</ul>
	<div nd-notification ng-show="notificationShow" ng-class="'text-' + type" class="notification">
		<i ng-if="type === 'success'" class="fa fa-check-circle fa-fw"></i>
		<i ng-if="type === 'warning'" class="fa fa-warning fa-fw"></i>
		<i ng-if="type === 'danger'" class="fa fa-times-circle fa-fw"></i>
		{{message}}
	</div>
</nav>