html,
body {
  width: 100%;
  height: 100%;
}
a:focus {
  outline: none;
}
textarea {
  resize: vertical;
}
.margin-0303 {
  margin: 0 3px 0 3px;
}
.page-header {
  margin: 0 0 20px;
  padding-bottom: 0;
  border-bottom: none;
}
.page-header > .heading {
  margin: 0;
  border-left: 6px solid #2d353c;
  font-size: 21px;
  line-height: 30px;
  text-indent: 6px;
}
.page {
  margin-left: 220px;
  padding: 20px 25px 20px;
}
.view.ng-enter {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
.view.ng-enter.ng-enter-active {
  opacity: 1;
}
.install {
  width: 100%;
  min-height: 100%;
  padding: 40px 10px;
  background: #2d353c;
}
.install > .content {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.install > .content > .brand {
  display: block;
  margin: 0 auto 30px;
}
.install > .content > .panel {
  margin-bottom: 10px;
}
.install > .content > .panel h2:first-child {
  margin-top: 10px;
}
.install > .content > .nodercms {
  text-align: center;
  font-size: 12px;
  color: #777;
}
.install > .content > .nodercms > a {
  color: #777;
}
.install > .content > .nodercms > a:hover {
  color: #fff;
}
.login {
  width: 100%;
  height: 100%;
  background: #2d353c;
}
.login > .content {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 360px;
  margin-left: -180px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.login > .content.shake.shake-add {
  -webkit-animation: login-shake 0.6s ease-in-out;
  animation: login-shake 0.6s ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes login-shake {
  0%,
  100% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, -50%, 0);
    transform: translate3d(-10px, -50%, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, -50%, 0);
    transform: translate3d(10px, -50%, 0);
  }
}
@keyframes login-shake {
  0%,
  100% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, -50%, 0);
    transform: translate3d(-10px, -50%, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, -50%, 0);
    transform: translate3d(10px, -50%, 0);
  }
}
.login > .content > .brand {
  display: block;
  margin: 0 auto 30px;
}
.login > .content > .panel {
  margin-bottom: 10px;
}
.login > .content > .nodercms {
  text-align: center;
  font-size: 12px;
  color: #777;
}
.login > .content > .nodercms > a {
  color: #777;
}
.login > .content > .nodercms > a:hover {
  color: #fff;
}
.navigation {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  width: 220px;
  background-color: #2d353c;
  box-shadow: -4px 0 6px rgba(0, 0, 0, 0.15) inset;
}
.navigation > .brand {
  display: block;
  max-width: 100%;
  margin: 25px auto;
}
.navigation > .list {
  padding-left: 0;
}
.navigation > .list > li > .item {
  display: block;
  padding: 10px 20px;
  line-height: 20px;
  color: #a8acb1;
  cursor: pointer;
}
.navigation > .list > li > .item:hover {
  background-color: #232a2f;
}
.navigation > .list > li > .item.active {
  color: #fff;
  background-image: linear-gradient(to bottom, #67b0f0 0%, #348fe2 100%);
}
.navigation > .list > li > .item.active > .fa {
  color: #fff;
}
.navigation > .list > li > .item.select ~ .sub-list {
  display: block;
}
.navigation > .list > li > .item > .fa {
  margin-right: 10px;
}
.navigation > .list > li > .item > .caret {
  float: right;
  margin-top: 8px;
}
.navigation > .list > li > .sub-list {
  display: none;
  position: relative;
  padding: 10px 20px;
  background-color: #1a2229;
  list-style-type: none;
}
.navigation > .list > li > .sub-list .item {
  display: block;
  padding: 5px 0;
  font-weight: 300;
  color: #889097;
}
.navigation > .list > li > .sub-list .item:hover,
.navigation > .list > li > .sub-list .item.active {
  color: #fff;
}
.navigation > .list > li > .sub-list .item:hover > .fa,
.navigation > .list > li > .sub-list .item.active > .fa {
  color: #348fe2;
}
.navigation > .list > li > .sub-list .item > .fa {
  margin-right: 10px;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
.navigation .notification {
  position: fixed;
  z-index: 1;
  bottom: 10px;
  left: 10px;
  width: 200px;
  padding: 8px 15px;
  background: #283037;
  border-radius: 4px;
}
.navigation .notification.ng-hide-remove {
  transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
.navigation .notification.ng-hide-remove.ng-hide-remove-active {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}
.navigation .notification.ng-hide-add {
  transition: -webkit-transform 300ms ease-in;
  transition: transform 300ms ease-in;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}
.navigation .notification.ng-hide-add.ng-hide-add-active {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
