<div class="page-header clearfix">
  <h1 ng-if="action === 'create'" class="heading pull-left">内容分类 - 创建分类</h1>
  <h1 ng-if="action === 'update'" class="heading pull-left">内容分类 - 更新分类</h1>
    &nbsp;
  <a ui-sref="main.categories" class="btn btn-default btn-sm">返回</a>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <form ng-submit="saveCategory()" class="form-horizontal" id="categoryForm" name="categoryForm" novalidate>
      <div ng-class="{ 'has-error': categoryForm.name.$touched && categoryForm.name.$invalid }" class="form-group">
        <label for="name" class="col-sm-2 control-label">* 栏目名：</label>
        <div class="col-sm-10">
          <input ng-model="name" ng-disabled="transmitting" class="form-control" id="name" type="text" name="name" placeholder="请输入栏目名" required>
        </div>
      </div>
      <div ng-class="{ 'has-error': categoryForm.sort.$touched && categoryForm.sort.$invalid }" class="form-group">
        <label for="sort" class="col-sm-2 control-label">排序：</label>
        <div class="col-sm-10">
          <input ng-model="sort" ng-disabled="transmitting" class="form-control" id="sort" type="number" name="sort" min="0" required>
        </div>
      </div>
      <div ng-class="{ 'has-error': categoryForm.isShow.$touched && categoryForm.isShow.$invalid }" class="form-group">
        <label for="isShow" class="col-sm-2 control-label">显示：</label>
        <div class="col-sm-10">
          <div class="checkbox">
            <label>
              <input ng-model="isShow" ng-disabled="transmitting" id="isShow" type="checkbox">
              在导航栏中显示
            </label>
          </div>
        </div>
      </div>
      <div ng-class="{ 'has-error': categoryForm.types.$touched && categoryForm.types.$invalid}" class="form-group">
        <label for="types" class="col-sm-2 control-label">* 分类类型：</label>
        <div class="col-sm-10">
          <div class="btn-group" role="group" aria-label="...">
            <button ng-repeat="type in types" ng-click="$parent.type = type.type" ng-disabled="transmitting" ng-class="{ 'active': $parent.type === type.type }" class="btn btn-default" type="button">{{type.name}}</button>
          </div>
        </div>
      </div>
      <hr>
      <div ng-class="{ 'has-error': categoryForm.directory.$touched && categoryForm.directory.$invalid }" class="form-group has-feedback">
        <label for="directory" class="col-sm-2 control-label">* {{type === 'link' ? ' URL' : '目录'}}：</label>
        <div class="col-sm-10">
          <input ng-model="directory" ng-pattern="/^[A-z0-9_]+$/" nd-vdirectory="directory && directory !== oldDirectory" ng-trim ng-disabled="transmitting" class="form-control text-lowercase" id="directory" type="text" name="directory" describedby="directoryStatus" placeholder="请输入{{type === 'link' ? 'URL' : '目录名'}}" required>
          <span ng-show="checkDirectorying" class="form-control-feedback" aria-hidden="true"><i class="fa fa-refresh fa-spin"></i></span>
          <span id="directoryStatus" class="sr-only">(检测中)</span>
          <p ng-show="categoryForm.directory.$error.pattern && categoryForm.directory.$touched && categoryForm.directory.$invalid" class="help-block">目录名的格式不正确</p>
          <p ng-show="!categoryForm.directory.$error.pattern && categoryForm.directory.$error.vdirectory && categoryForm.directory.$touched && categoryForm.directory.$invalid" class="help-block">该目录名已经存在或为保留名</p>
        </div>
      </div>
      <div ng-if="type === 'column'" ng-class="{ 'has-error': categoryForm.models.$touched && categoryForm.models.$invalid}" class="form-group">
        <label for="models" class="col-sm-2 control-label">* 内容模型：</label>
        <div class="col-sm-10">
          <select ng-model="$parent.model" ng-options="model._id as model.name for model in $parent.models" ng-disabled="$parent.transmitting" class="form-control" id="models" name="models" required>
            <option value="">请选择</option>
          </select>
        </div>
      </div>
      <div ng-if="type !== 'channel'" ng-class="{ 'has-error': categoryForm.parentCategory.$touched && categoryForm.parentCategory.$invalid}" class="form-group">
        <label for="parentCategory" class="col-sm-2 control-label">上级分类：</label>
        <div class="col-sm-10">
          <select ng-model="$parent.parentCategory" ng-options="category._id as category.name for category in $parent.$parent.categories | filter: '!column' | filter: '!link'" ng-disabled="$parent.transmitting" class="form-control" id="parentCategory" name="parentCategory">
            <option value="">作为顶级分类</option>
          </select>
        </div>
      </div>
      <div ng-if="type === 'column'" ng-class="{ 'has-error': categoryForm.listView.$touched && categoryForm.listView.$invalid}" class="form-group">
        <label for="listView" class="col-sm-2 control-label">* 列表页模板：</label>
        <div class="col-sm-10">
          <select ng-model="$parent.views.list" ng-options="view for view in $parent.viewfiles" ng-disabled="$parent.transmitting" class="form-control" id="listView" name="listView" required>
            <option value="">请选择</option>
          </select>
        </div>
      </div>
      <div ng-if="type !== 'link'" ng-class="{ 'has-error': categoryForm.contentView.$touched && categoryForm.contentView.$invalid}" class="form-group">
        <label for="contentView" class="col-sm-2 control-label">* {{type === 'column' ? '内容页模板' : '模板'}}：</label>
        <div class="col-sm-10">
          <select ng-model="$parent.views.content" ng-options="view for view in $parent.viewfiles" ng-disabled="$parent.transmitting" class="form-control" id="contentView" name="contentView" required>
            <option value="">请选择</option>
          </select>
        </div>
      </div>
      <div ng-if="type !== 'link'" class="form-group">
        <label for="keywords" class="col-sm-2 control-label">关键词：</label>
        <div class="col-sm-10">
          <input ng-model="$parent.keywords" ng-disabled="$parent.transmitting" class="form-control" id="keywords" type="text" name="keywords" placeholder="META Keywords（网站关键词）">
        </div>
      </div>
      <div ng-if="type !== 'link'" class="form-group">
        <label for="description" class="col-sm-2 control-label">描述：</label>
        <div class="col-sm-10">
          <textarea ng-model="$parent.description" ng-disabled="$parent.transmitting" class="form-control" id="description" name="description" rows="3" placeholder="META Description（网站描述）"></textarea>
        </div>
      </div>
      
    </form>
  </div>
</div>
<button ng-disabled="transmitting || inputing || categoryForm.$invalid" class="btn btn-primary pull-right" form="categoryForm" type="submit"><i class="fa fa-save"></i> 保存分类</button>