<div class="page-header">
  <h1 class="heading">网站配置</h1>
</div>

<form ng-submit="submitSiteInfo()" class="form-horizontal" id="siteInfoForm" name="siteInfoForm" novalidate>
  <div class="panel panel-default">
    <div class="panel-heading">基本配置</div>
    <div class="panel-body">
      <div ng-class="{ 'has-error': siteInfoForm.title.$touched && siteInfoForm.title.$invalid }" class="form-group">
        <label for="inputTitle" class="col-sm-2 control-label">* 网站标题：</label>
        <div class="col-sm-10">
          <input ng-model="title" ng-disabled="transmitting" class="form-control" id="inputTitle" type="text" name="title" placeholder="请输入网站标题" required>
        </div>
      </div>
      <div class="form-group">
        <label for="inputKeywords" class="col-sm-2 control-label">关键词：</label>
        <div class="col-sm-10">
          <input ng-model="keywords" ng-disabled="transmitting" class="form-control" id="inputKeywords" type="text" name="keywords" placeholder="META Keywords（网站关键词）">
        </div>
      </div>
      <div class="form-group">
        <label for="inputDescription" class="col-sm-2 control-label">描述：</label>
        <div class="col-sm-10">
          <textarea ng-model="description" ng-disabled="transmitting" class="form-control" id="inputDescription" name="description" rows="3" placeholder="META Description（网站描述）"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">高级配置</div>
    <div class="panel-body">
      <div ng-class="{ 'has-error': siteInfoForm.translateKey.$touched && siteInfoForm.translateKey.$invalid }" class="form-group has-feedback clear-bottom-margin">
        <label for="translatekey" class="col-sm-2 control-label">百度翻译API：</label>
        <div class="col-sm-10">
          <div class="input-group">
            <span class="input-group-addon">
              <input ng-model="translate.on" ng-disabled="!translateOnShow || !translate.key || checkTranslateing || transmitting" type="checkbox">
              启用
            </span>
            <input ng-model="translate.key" nd-translate class="form-control" id="translatekey" type="text" name="translateKey" aria-describedby="translatekeyStatus" placeholder="API key" ng-disabled="transmitting">
          </div>
          <span ng-show="checkTranslateing" class="form-control-feedback" aria-hidden="true"><i class="fa fa-refresh fa-spin"></i></span>
          <span id="translatekeyStatus" class="sr-only">(检测中)</span>
          <span class="help-block">该接口将用于自动翻译文档标题</span>
        </div>
      </div>
      <div class="form-group">
        <label for="textareaCodeHeader" class="col-sm-2 control-label">代码（顶部）：</label>
        <div class="col-sm-10">
          <textarea ng-model="codeHeader" ng-disabled="transmitting" class="form-control" id="textareaCodeHeader" name="codeHeader" rows="4" placeholder="例：<script>统计代码</script>"></textarea>
          <span class="help-block">这里的代码将注入到网站每一个页面头部</span>
        </div>
      </div>
      <div class="form-group">
        <label for="textareaCodeFooter" class="col-sm-2 control-label">代码（底部）：</label>
        <div class="col-sm-10">
          <textarea ng-model="codeFooter" ng-disabled="transmitting" class="form-control" id="textareaCodeFooter" name="codeFooter" rows="4" placeholder="例：<script>统计代码</script>"></textarea>
          <span class="help-block">这里的代码将注入到网站每一个页面底部</span>
        </div>
      </div>
    </div>
  </div>
  <button ng-disabled="siteInfoForm.$invalid || transmitting" class="btn btn-primary pull-right" type="submit"><i class="fa fa-save"></i> 保存配置</button>
</form>